div#contenedor{
    margin:auto;
    margin-top:50px; 
    margin-block-end: 50px;
    width: 1500px;
    height: 3000px;
    background-color:red;
}
div#posteos{
    float:left;
    height: auto;
    width: 900px;
    background-color: green;
}
div#profile{
    float:right;
    width: 500px;
    height: auto;
    background-color: rgb(0, 0, 0);
}