div#contenedor{
    margin:auto;
    margin-top:50px; 
    margin-block-end: 50px;
    width: 1500px;
    height: 2000px;
    background-color: white;
}
div#posteos{
    float:left;
    height: auto;
    width: 900px;
    background-color: transparent;
}
div#profile{
    float:right;
    width: 500px;
    height: auto;
    background-color: transparent;
}