{% extends 'padre.html' %}
{%load static%}
{% block ContenidoQueCambia %}
<!-- Page header with logo and tagline-->
<header class="py-5 bg-light border-bottom mb-4">
    <div class="container">
        <div class="text-center my-5">
            <h1 class="fw-bolder">Bienvenidos a Poliblog!</h1>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li class="{{ message.tags }}"> {{ message }} </h2>
                    {% endfor %}
            </ul>
            {% endif %}

            {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
            </div>
            {% endfor %}
            <!-- <h3> {{mensaje}}</h3> -->


        </div>
    </div>
</header>
<!-- Page content-->
<div class="container">
    <!-- <div class="row infinite-container"> -->
    <!-- Blog entries-->
    <div class="row">
        <div class="col-lg-8">
            <div class="card mb-4">
                {% comment %} <a href="#!"><img class="card-img-top" src="https://dummyimage.com/850x350/dee2e6/6c757d.jpg"
                        alt="..." /></a> {% endcomment %}
                <div class="card-body">
                    {% comment %} {% if user.is_authenticated %} {% endcomment %}

                    {% if post %}

                    {% for posteo in posteos %}
                    {% comment %} {% if post.imagenPost %}
                    <figure class="mb-4"><img class="img-fluid rounded" src={{post.imagenPost.url}} onerror="this.onerror=null ;this.remove();"  alt="..." /></figure>
                     {% endif %} {% endcomment %}

                    {% if posteo.imagenPost %}
                        <a href="{% url 'Posteos' posteo.pk %}"><img class="card-img-top" src={{posteo.imagenPost.url}} onerror="this.onerror=null ;this.remove();" alt="..." /></a>
                    {% comment %} {% else %}
                        <a href="#!"><img class="card-img-top" src="https://dummyimage.com/850x350/dee2e6/6c757d.jpg"
                        alt="..." /></a> {% endcomment %}
                    {% endif %}


                    <h2 class="card-title">{{posteo.titulo}}</h2>
                    <h3 class="card-subtitle">{{posteo.subtitulo}}</h3>
                    <p class="post-meta">Escrito por {{posteo.posteador}}</p>

                    <div class="small text-muted">{{posteo.fecha_publicacion}}</div>
                    <p>
                        <span><i class="fas fa-thumbs-up"></i>{{posteo.get_like_count}}</span>
                        <span><i class="fas fa-comments"></i>{{posteo.get_comment_count}}</span>

                        {% for i in posteo.get_tematica %}
                        <a class="badge bg-secondary text-decoration-none link-light"
                            href="{% url 'tematicasList' %}">{{i}}</a>
                        {% endfor %}
                    </p>
                    <p class="card-text">{{posteo.contenido}}</p>
                    <a class="btn btn-secondary" href="{% url 'Posteos' posteo.pk %}">Leer más →</a>
                    {% endfor %}
                    {% else %}
                    <h2>Error, no se cargaron post</h2>
                    {% endif %}
                    {% comment %} {% else %}
                    <div style="margin: 15px;">
                        <p>Debes iniciar sesion para revisar los Post</p>
                        <a class="btn btn-secondary" href="{% url 'inicioSesion'%}">Iniciar sesion</a>
                    </div> {% endcomment %}
        
        {% comment %} {% endif %}  {% endcomment %}
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card mb-4">
                <div class="card-header">Buscar</div>
                <div class="card-body">
                    <div class="input-group">
                        <form action="buscarTematicas" method="GET">
                            <input class="form-control" type="text" name="tematica" id="tematica"
                                placeholder="Ingrese alguna tematica..." aria-label="Enter search term..."
                                aria-describedby="button-search" />
                            <input style="margin-top: 15px" class="btn btn-secondary" id="button-search"
                                type="submit">
                        </form>

                    </div>
                </div>
                <!--SLIDE WIDGETS-->
                <div class="card mb-4">
                    <div class="card-header">Tematicas</div>
                    <div class="card-body">
                        <div class="row">
                            
                                
                                {% if lista %}
                                {% for tematica in lista %}
                                <div class="col-sm-6">
                                    <div class="col-sm-6">

                                    <ul class="list-unstyled mb-0">
                                        <li><a href="#!">{{tematica.nombre}}</a></li>
                                        
                                    </ul>
                                     </div>
                                </div>

                                {% comment %} <div class="col-sm-6">

                                    <div class="col-sm-6">

                                    <ul class="list-unstyled mb-0">
                                        <li><a href="#!">{{tematica.nombre}}</a></li>
                                 
                                    </ul>
                                    </div>
                                </div> {% endcomment %}


                                
                                {% endfor %}
                                {% else %}
                                <p>no recibis lista</p>
                                {% endif %}
                                
                            
                        </div>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-header">Side Widget</div>
                    <div class="card-body">You can put anything you want inside of these side widgets. They are easy
                        to use, and feature the Bootstrap 5 card component!</div>
                </div>
            </div>
        </div>
        {% if posteos.has_next %}
        <a class="infinite-more-link" href="?page={{ posteos.next_page_number }}">More</a>
        {% endif %}
        <!-- <div class="d-flex justify-content-center" style="display:none;">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div> -->
        <!-- </div> -->
        <!-- Side widgets-->
    </div>
    <script>
        var infinite = new Waypoint.Infinite({
            element: $('.infinite-container')[0],
            handler: function (direction) {

            },
            offset: 'bottom-in-view',

            onBeforePageLoad: function () {
                $('.spinner-border').show();
            },
            onAfterPageLoad: function () {
                $('.spinner-border').hide();
            }
        });

    </script>
    {% endblock ContenidoQueCambia %}