{% extends 'padre.html' %}
{% load static %}

{% block ContenidoQueCambia %}
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <!-- CONTENIDO POST-->
            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post titulo-->
                    <h1 class="fw-bolder mb-1">Posteos</h1>
                    <!-- Post meta content-->
                    <a class="btn btn-primary" href= "{% url 'crearPost' %}">Crear post</a>
                    <h2>{{post.titulo}} <a href="{% url 'Postfavoritos' post.pk %}" ><span ><i class="fa-solid fas fa-bookmark"></i></span> </a> </h2>
                    <div class="text-muted fst-italic mb-2">{{post.fecha_publicacion}}</div>
                    <!-- Post categories-->
                    
                    {% if tematicas %}
                        
                        {% for tematica_post in tematicas  %}
                        <a class="badge bg-secondary text-decoration-none link-light" href="{% url 'tematicas' %}">{{tematica_post.nombre}}</a>
                        {% endfor %}
                    {% else %}
                        <p>No recibo la lista tematicas :(</p>
    
                    {% endif %}
                    <a class="text-muted" href="{% url 'Likes' post.pk %}" >
                        <i class="fas fa-thumbs-up fa-lg"></i>
                        {{post.get_like_count}}
                    </a>
                    

                    {% if post.imagenPost %}
                    <figure class="mb-4"><img class="img-fluid rounded" src={{post.imagenPost.url}} onerror="this.onerror=null ;this.remove();"  alt="..." /></figure>

                        
                    {% endif %}
                    </header>
                <!-- Preview image figure-->
                
                
                    
                   
                                           
                      
                        
                
                <!-- Post content-->
                <div class="container">
                    <p>{{post.contenido}}</p>
                </div>
                <section class="mb-5">
                    
                    <!-- seccion donde iria el contenido del post que presioné-->
                </section>
            </article>
            <!-- Seccion COMENTARIOS->
            <section class="mb-5">
                <div class="card bg-light">
                    <div class="card-body">
                        <!- Comment form-->
                        <!-- <form method="POST" class="post-form">
                            {% csrf_token %}
                            {{miForm.as_p}}
                            <button type="submit" class="save btn btn-default">Guardar tematica</button>
                        </form> -->
                        <form  method="POST" class="post-form">
                            {% csrf_token %}
                            {{miFormComentario.as_p}}
                            
                            <button type="submit" class="save btn btn-primary">Agregar comentario</button>

                        </form> 
                        <!-- Ese form despues tiene que ser utilizado para CREAR comentarios-->
                        <!-- Comment with nested comments-->
                        
                            <!--Aparecen comentarios del post determinado-->
                            
                            




                            <!-- Parent comment-->
                            
                            
                            {% if comentario %}
                                {% for comentario_post in comentario  %}
                                <div class="d-flex mb-4">

                                <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div> <!--Acá deberia aparecer la imagen que el usuario elija...-->    
                                <div class="ms-3">
                                    <div class="fw-bold">{{comentario_post.comentarista}}</div>
                                    <!-- <p>{{comentario_post.fecha}}</p> -->
                                    <div class="text-muted fst-italic mb-2">{{comentario_post.fecha}}</div>
                                    <p>{{comentario_post.contenido_comentario}} </p>
                                    <!-- Child comment 1-->
                                    <!-- <div class="d-flex mt-4">
                                        <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                        <div class="ms-3">
                                            <div class="fw-bold">Commenter Name</div>
                                            And under those conditions, you cannot establish a capital-market evaluation of that enterprise. You can't get investors.
                                        </div>
                                    </div> -->
                                    <!-- Child comment 2-->
                                    <!-- <div class="d-flex mt-4">
                                        <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                        <div class="ms-3">
                                            <div class="fw-bold">Commenter Name</div>
                                            When you put money directly to a problem, it makes a good headline.
                                        </div>
                                    </div> -->
                                    <div class="col-lg-12" style="margin-top: 10px">
                                        <a href= "{% url 'comentarios' %}">Ver todos mis comentarios</a>
                                    </div>
                                </div>
                            </div>
                                {% endfor %}
                            
                            {% endif %}
                                
                            
                        
                        <!-- Single comment-->
                        <!-- <div class="d-flex">
                            <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                            <div class="ms-3">
                                <div class="fw-bold">Commenter Name</div>
                                When I look at the universe and all the ways the universe wants to kill us, I find it hard to reconcile that with statements of beneficence.
                            </div>
                        </div> -->
                    
                </div>
            </section>
        
        <!-- Side widgets-->
       <div class="col-lg-4">
            <!-- Search widget-->
            <div class="card mb-4">
                <div class="card-header">Search</div>
                <div class="card-body">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
                        <button class="btn btn-primary" id="button-search" type="button">Go!</button>
                    </div>
                </div>
            </div>
            <!-- Categories widget-->
            <div class="card mb-4">
                <div class="card-header">Tematicas</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li><a href="#!">Web Design</a></li>
                                <li><a href="#!">HTML</a></li>
                                <li><a href="#!">Freebies</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li><a href="#!">JavaScript</a></li>
                                <li><a href="#!">CSS</a></li>
                                <li><a href="#!">Tutorials</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Side widget-->
            <div class="card mb-4">
                <div class="card-header">Side Widget</div>
                <div class="card-body">You can put anything you want inside of these side widgets. They are easy to use, and feature the Bootstrap 5 card component!</div>
            </div>
        </div>
    </div>
</div>

{% endblock ContenidoQueCambia %}
    

