{% extends 'padre.html' %}
{%load static%}
{% block ContenidoQueCambia %}
<h2>Lista de tematicas disponibles: </h2>
<ul>
    <!-- {{object_list}} -->
    {% for tematica in object_list  %}
        <a href="{% url 'postRelacionados' tematica.pk %}" ><li>{{tematica.nombre}}</li></a>
        <a class="btn btn-primary" href="{% url 'tematicasDelete' tematica.id %}">Eliminar</a>
        <a class="btn btn-primary" href="{% url 'editarTematicas' tematica.id %}">Editar</a>
        <a class="btn btn-primary" href="{% url 'tematicasDetail' tematica.id %}">Detalle</a>

        <!-- La idea seria que al apretar en la tematica me lleve a una pagina con los posteos de ESA tematica-->
    {% endfor %}
    <a class="navbar-brand" href="{% url 'crearTematica' %}">Crear tematica</a>
   
</ul>

{% endblock ContenidoQueCambia %}
    
